body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.header a {
    color:#E5E7EB;
}

.hero {
    background-color: #1F2937;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}